<html>
<head>
	<title>DonorShare</title>
</head>
<body>
	<div class="homepage-header-container">  
		<div class="homepage-header-logo-container">
			<p class="home-page-header-logo-text"> Donor Share</p>
		</div>
		<div class="homepage-header-jqwidget-container">
			<p class="home-page-header-jqwidget-text">Weather</p>
		</div>
	</div>
    <div class="homepage-body-container">  
        
        <div class="homepage-body-login-container">
        	<div class="homepage-header-logo-text-container">
                <p>Select your school</p>
            </div>

        	<div class="homepage-header-logo-form-container">
                <form>
                    <select>
                        <option>Orion HS</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="homepage-body-picture-container">
        	<div class="homepage-body-picture-img-container"></div>
        </div>
		<!-- <div >
			<p>Left login</p>
		<div>
			<p>Please select your school</p>
		</div>
			<div>
			<p></p>
			</div>
		</div>
		<div>
			<p>Right picture dive</p>
		</div> -->
	</div>

<!-- 	<p>Hello World!</p>
	<p>Hello World!</p>
	<p>Hello World!</p>
	<p>Hello World!</p> -->

</body>
</html>