<html>
<head>
	<title>School</title>
</head>
<body>
    <div class="schoolpage-body-container">
        <p class="schoolpage-body-name-text"><%= @school[:name] %></p>
        <p class="schoolpage-body-location-text"><%= @school[:location] %></p>

        <p>Select your wishlist</p>

        <form method="get" action="/wishlist">
          
          <% @teachers.each do |teacher| %>  
            <input type="radio" name="teacher_id" value="<%=teacher.id%>"/> <%= "#{teacher.first_name} #{teacher.last_name}"%> <br>
          <% end %>
          

          <input type="submit" name="Submit" />
        </form>

    </div>
</body>
</html>
