<html>
<head>
	<title>School</title>
</head>
<body>
    <div class="schoolpage-body-container">
        <p class="schoolpage-body-name-text"><%= @school[:name] %></p>
        <p class="schoolpage-body-location-text"><%= @school[:location] %></p>
    </div>
</body>
</html>
