<div class="schoolpage-body-container">

    <p><%=@teacher.first_name%> <%=@teacher.last_name %></p>
    <div class="school-page-body-wishlist-container">
        <form action="/wishlist/:id">
          <input type="checkbox" name="item" value="Chalkboard"> Chalkboard <br>
          <input type="checkbox" name="item" value="Whiteboard"> Whiteboard<br>
          <input type="checkbox" name="item" value="ipads"> iPads<br>
          <input type="checkbox" name="item" value="Macbook Airs"> Macbook Airs<br>
          <input type="submit" value="Submit">
        </form>
    </div>
</div>